// Преимущества
.advantages {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin: -15px;
  }
}

.advantages-item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: $advantages-bgc;
  border-radius: 4px;
}

.advantages-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  height: 70px;
}

.advantages-title {
  @extend %text;
  margin-top: 0px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  color: $title-text-color;
}

.advantages-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
