// Преимущества
.advantages {
  @extend %list;
}

.advantages-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: $advantages-bgc;
  border-radius: 4px;
}

.advantages-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  height: 70px;
}

.advantages-title {
  @extend %text;
  margin-top: 0px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  color: $title-text-color;
}

.advantages-description {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
