/* Постоянные клиенты */
.clients {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 4 * 15px) / 2);
  height: 90px;
  margin: 15px;

  //&:not(:nth-child(2n)) {margin-right: 30px;}

  //&:nth-last-child(-n + 2) {margin-bottom: 0px;}
}

.clients-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid $clients-border;
  border-radius: 4px;

  fill: $clients-logo;

  transition: fill $transition-duration $transition-timing-function,
    border $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
    border: 1px solid $accent-text-color;
  }
}
