body {
  font-family: Roboto;
  color: $primary-text-color;
  background-color: $white-color;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

%list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

%text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

// Скрываемый заголовок
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Заголовки секций
.section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}

// Секции
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

//Оформление иконок социальных сетей
%social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

%social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
