.logo-web {
  color: $accent-text-color;
}

%logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header {
  @extend %logo;
  margin-top: 16px;
  margin-bottom: 16px;
  color: $title-text-color;
}
.logo-footer {
  @extend %logo;
  margin-top: 0px;
  margin-bottom: 20px;
  color: $white-color;
}
