.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: $white-color;

  @media screen and (max-width: 767px) {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;

    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

    border-top: 1px solid $header-border;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

//Навигация по страницам
.pages-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %list;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.pages-item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.pages-link {
  display: block;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $title-text-color;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

// Индикация текудая страница
.pages-item .current {
  position: relative;
  color: $accent-text-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    content: '';
    width: 100%;
    height: 4px;

    background-color: $accent-text-color;
    border-radius: 2px;
  }
}

// Email and phone
.contacts {
  @extend %list;
  display: flex;
  flex-direction: column;
  //align-items: center;
  text-align: center;

  @media screen and (min-width: $tablet) {
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin-left: auto;

    & .contacts-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

// Оформление почты
.contacts-link.mail {
  display: inline-block;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }
}

.mail {
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
    color: $accent-text-color;
  }
}

.mail-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

// Оформление телефона
.phone {
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
    color: $accent-text-color;
  }
}

.phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
