.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $white-color;
  background-color: $footer-bgc;
}

//.flex-footer {}

// Адрес футер
.address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-duration $transition-timing-function;
}

.address a:hover,
.address a:focus {
  color: $accent-text-color;
}

.address-list {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

// Присоединяйся футер
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.appeal {
  @extend %text;
  margin-top: 0px;
  margin-bottom: 20px;
}

.social-list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

  & .social-item:not(:last-child) {
    margin-right: 11px;
  }
}

.social-footer {
  @extend %social-link;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  @extend %social-icon;
  fill: $white-color;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

// Подпишись на рассылку футер
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-footer {
  display: block;
}

.email {
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

// Кнопка подписки футер
.subscribe {
  @extend %button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  height: 50px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: currentColor;
}
