// Навигация
.header {
  border-bottom: 1px solid $header-border;
}

//.pages-nav {
// display: flex;
//align-items: center;
//}

//.main-nav {
//display: flex;
// align-items: center;
//}

.site-nav {
  @extend %list;
  //display: flex;

  & .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $title-text-color;

  transition: color $transition-duration $transition-timing-function;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-text-color;
}

// Индикация текудая страница
.site-nav .current {
  position: relative;
  color: $accent-text-color;
}

.site-nav .current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  content: '';
  width: 100%;
  height: 4px;

  background-color: $accent-text-color;
  border-radius: 2px;
}

// Email and phone
.nav-items {
  @extend %list;
  //display: flex;
  margin-left: auto;

  & .item:not(:last-child) {
    margin-right: 30px;
  }
}

.link {
  @extend .nav-items;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
}

// Оформление почты
.mail {
  //display: flex;
  //align-items: center;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
    color: $accent-text-color;
  }
}

.mail-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

// Оформление телефона
.phone {
  //display: flex;
  //@debug: center;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
    color: $accent-text-color;
  }
}

.phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
