// Навигация
.header {
  position: relative;
  border-bottom: 1px solid $header-border;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
}
