.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $white-color;
  background-color: $footer-bgc;
}

.flex-footer {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    align-items: baseline;
  }
}

// Адрес футер
.address-container {
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-right: 69px;
    text-align: left;
  }
}

.address {
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-duration $transition-timing-function;
}

.address a:hover,
.address a:focus {
  color: $accent-text-color;
}

.address-list {
  @extend %list;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

// Присоединяйся футер
.social-container {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    //margin-right: 94px;
  }
}

.appeal {
  @extend %text;
  margin-top: 0px;
  margin-bottom: 20px;

  text-align: left;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social-list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

  & .social-item:not(:last-child) {
    margin-right: 11px;
  }
}

.social-footer {
  @extend %social-link;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  @extend %social-icon;
  fill: $white-color;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

// Подпишись на рассылку футер
.subscribe-container {
  text-align: left;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.form-footer {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.email {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    max-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 0;
    width: 358px;
  }
}

// Кнопка подписки футер
.subscribe {
  @extend %button;
  @include flex-mobile;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  height: 50px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: currentColor;
}
